.App {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

svg {
  fill-opacity: .25;
}

svg path {
  stroke: black;
}

path:hover {
    fill-opacity: 1;
}

.selected {
  fill-opacity: 1;
}

.Manhattan {
    fill: red;
}

.Brooklyn {
    fill: blue;
}

.Queens {
    fill: green;
}

.Bronx {
    fill: yellow;
}

.Staten {
    fill: orange;
}

.EWR {
    fill: purple;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}
