.App {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

svg {
  stroke-width: 0.25px;
}

path:hover {
    stroke: 'white';
    stroke-width: 2px;
}

.selected {
  stroke: 'white';
  stroke-width: 2px;
}

.Manhattan {
    fill: red;
}

.Brooklyn {
    fill: blue;
}

.Queens {
    fill: green;
}

.Bronx {
    fill: yellow;
}

.Staten {
    fill: orange;
}

.EWR {
    fill: purple;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}
